/* ===== RESET DE ESTILOS ===== */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 16px;
}

body {
    min-height: 100vh;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
}

ul {
    list-style: none;
}

button,
input {
    font: inherit;
    border: none;
    background: none;
}

/* ===== TIPOGRAFÍAS, TITULARES Y TEXTOS ===== */
body {
    font-family: "Sour Gummy", sans-serif;
    font-weight: 400;
    background-color: #f4f6f8;
    color: #222;
}

h1 {
    font-weight: 600;
    font-size: 2rem;
}

.task-list__title {
    font-weight: 500;
    font-size: 1.2rem;
}

/* ===== COLORES DE POST-ITS ===== */
:root {
    --postit-lightpink: #ff7eb9;
    --postit-orange: #ff9d48;
    --postit-lightblue: #7afcff;
    --postit-lightyellow: #fff68b;
    --postit-green: #d5f692;

    --radius: 12px;
    --shadow-soft: 0 8px 20px rgba(0, 0, 0, 0.08);
}

.task-list[data-color="lightpink"] {
    background-color: var(--postit-lightpink);
}

.task-list[data-color="orange"] {
    background-color: var(--postit-orange);
}

.task-list[data-color="lightblue"] {
    background-color: var(--postit-lightblue);
}

.task-list[data-color="lightyellow"] {
    background-color: var(--postit-lightyellow);
}

.task-list[data-color="green"] {
    background-color: var(--postit-green);
}

.task-list[data-color="lightyellow"] .task-list__color-toggle {
    background-color: var(--postit-lightyellow);
}

.task-list[data-color="lightpink"] .task-list__color-toggle {
    background-color: var(--postit-lightpink);
}

.task-list[data-color="orange"] .task-list__color-toggle {
    background-color: var(--postit-orange);
}

.task-list[data-color="lightblue"] .task-list__color-toggle {
    background-color: var(--postit-lightblue);
}

.task-list[data-color="green"] .task-list__color-toggle {
    background-color: var(--postit-green);
}


/* ===== LAYOUT DE LA PÁGINA ===== */
main {
    padding: 1.5rem;
    flex: 1;
}

.board__actions {
    display: flex;
    gap: 1rem;
    margin-bottom: 1.5rem;
}

.board {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1.5rem;
}



footer {
    background-color: white;
    text-align: center;
    -webkit-box-shadow: 0px -7px 11px 0px rgba(0, 0, 0, 0.1);
    box-shadow: 0px -7px 11px 0px rgba(0, 0, 0, 0.1);
}

/* ===== LISTAS DE TAREA TIPO (POST-IT) ===== */
.task-list {
    padding: 1rem;
    border-radius: var(--radius);
    box-shadow: var(--shadow-soft);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    transition: transform 0.15s ease;
}

/* ===== BOTNES ===== */
button {
    cursor: pointer;
    border-radius: 999px;
    padding: 0.4rem 0.8rem;
    transition: transform 0.1s ease, background-color 0.2s ease;
}

button:hover {
    transform: translateY(-1px);
    color: rgb(212, 212, 212);
    background-color: rgb(26, 26, 26);
}

button:active {
    transform: scale(0.97);
    color: rgba(0, 0, 0, 0.2);
}

.task-list__rename {
    color: rgba(0, 0, 0, 0.5);
    padding: 0.4rem 0.4rem 0.4rem 0.8rem;
}

.task-list__rename:hover {
    color: rgba(0, 0, 0, 0.7);
    background-color: rgba(0, 0, 0, 0);
}

.task-list__rename:active {
    color: rgba(0, 0, 0, 0.2);
    background-color: rgba(0, 0, 0, 0);
}

.task-item__delete {
    padding: 0.4rem 0.4rem 0.8rem 0.4rem;
    color: rgba(0, 0, 0, 0.5);
}

.task-item__delete:hover {
    color: rgba(0, 0, 0, 0.7);
    background-color: rgba(0, 0, 0, 0);
}

.task-item__delete:active {
    color: rgba(0, 0, 0, 0.2);
    background-color: rgba(0, 0, 0, 0);
}

.task-list__color-toggle {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 0 1rem;
    color: rgba(0, 0, 0, 0.5);
}

.task-list__color-toggle:hover {
    color: rgba(0, 0, 0, 0.7);
}

/* CAJA EMERGENTE */

.delete-hint {
    position: fixed;
    top: 1rem;
    left: 50%;
    transform: translateX(-50%);
    background-color: #222;
    color: white;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    z-index: 100;
}

/* ESTILOS DE HEADER */

.header {
    background-color: white;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(146, 146, 146, 0.19) 0px 10px 20px;
    position: relative;
}

.header__quote {
    position: absolute;
    bottom: 15px;
    font-size: 0.9rem;
    font-weight: bold;
    color: #f4b400;
    pointer-events: none;
    /* que no interfiera */
    animation: splashZoom 2s ease-in-out infinite;
}

.board__add-list {
    background-color: rgb(83, 83, 83);
    color: white;
}

.board__delete-list {
    background-color: rgb(253, 73, 73);
    color: white;
}

.board__delete-list:hover {
    background-color: rgb(173, 46, 46);
}

.board__delete-list.is-active {
    background-color: #999;
    color: white;
}

/* TASKLIST HEADER  */
.task-list__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.task-list__add-task {
    background-color: rgb(83, 83, 83);
    color: white;
}

/* MODO BORRAR LISTA */
.task-list.is-deletable {
    cursor: pointer;
}

.task-list.is-deletable:hover {
    outline: 3px dashed rgba(0, 0, 0, 0.3);
}

/* MODAL DE CONFIRMACIÓN BORRAR  */

.confirm-delete-modal {
    border: none;
    border-radius: 12px;
    padding: 0;
    margin: auto;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.25);
}

.confirm-delete-modal__content {
    padding: 1.5rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.confirm-delete-modal__actions {
    display: flex;
    justify-content: center;
}

.confirm-delete-modal__confirm {
    background-color: rgb(253, 73, 73);
    color: white;
    margin: 0 5px;
}

.confirm-delete-modal__confirm:hover {
    background-color: rgb(173, 46, 46);
}

.confirm-delete-modal__cancel {
    background-color: rgb(83, 83, 83);
    color: white;
    margin: 0 5px;
}

.confirm-delete-modal::backdrop {
    background: rgba(0, 0, 0, 0.4);
}

/* MODAL DE INGRESAR TAREA  */

.add-task-modal {
    border: none;
    border-radius: 12px;
    padding: 0;
    margin: auto;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.25);
}

.add-task-modal__content {
    padding: 1.5rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.add-task-modal____actions {
    display: flex;
    justify-content: center;
}

.add-task-modal__confirm {
    background-color: rgb(60, 145, 39);
    color: white;
    margin: 0 5px;
}

.add-task-modal__confirm:hover {
    background-color: rgb(50, 119, 33);
}

.add-task-modal__cancel {
    background-color: rgb(83, 83, 83);
    color: white;
    margin: 0 5px;
}

.add-task-modal::backdrop {
    background: rgba(0, 0, 0, 0.4);
}

/* MODAL DE BORRAR TAREA  */

.confirm-delete-modal-task {
    border: none;
    border-radius: 12px;
    padding: 0;
    margin: auto;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.25);
}

.confirm-delete-modal-task__content {
    padding: 1.5rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.confirm-delete-modal-task__actions {
    display: flex;
    justify-content: center;
}

.confirm-delete-modal-task__confirm {
    background-color: rgb(253, 73, 73);
    color: white;
    margin: 0 5px;
}

.confirm-delete-modal-task__confirm:hover {
    background-color: rgb(173, 46, 46);
}

.confirm-delete-modal-task__cancel {
    background-color: rgb(83, 83, 83);
    color: white;
    margin: 0 5px;
}

.confirm-delete-modal-task::backdrop {
    background: rgba(0, 0, 0, 0.4);
}

/* MODAL FELICITACIONES */

.completion-modal {
    border: none;
    border-radius: 12px;
    padding: 0;
    margin: auto;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.25);
}

.completion-modal__content {
    padding: 1.5rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.completion-modal__icon {
    color: rgb(60, 145, 39);
    font-size: 2.4rem;
    text-align: center;

}

.completion-modal__close {
    background-color: rgb(60, 145, 39);
    color: white;
    margin: 0 5px;
}

.completion-modal::backdrop {
    background: rgba(0, 0, 0, 0.4);
}

/* MODAL RENOMBRAR TAREAS */

.rename-task {
    border: none;
    border-radius: 12px;
    padding: 0;
    margin: auto;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.25);
}

.rename-task__content {
    padding: 1.5rem;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.rename-task__input {
    align-self: center;
}

.rename-task__actions {
    display: flex;
    justify-content: center;
}

.rename-task__confirm {
    background-color: rgb(60, 145, 39);
    color: white;
    margin: 0 5px;
}

.rename-task__confirm:hover {
    background-color: rgb(50, 119, 33);
}

.rename-task__cancel {
    background-color: rgb(83, 83, 83);
    color: white;
    margin: 0 5px;
}

.rename-task::backdrop {
    background: rgba(0, 0, 0, 0.4);
}


/* BOTONES SELECCIÓN DE COLORES */

.task-list__color-button1 {
    background-color: #ff7eb9;
    margin: 0.4rem 0.2rem;
}

.task-list__color-button2 {
    background-color: #ff9d48;
}

.task-list__color-button3 {
    background-color: #fff68b;
}

.task-list__color-button4 {
    background-color: #d5f692;
}

.task-list__color-button5 {
    background-color: #7afcff;
}

/* BARRA DE PROGRESO */

.task-list__progress {
    width: 90%;
    margin: 0 auto;

    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.task-list__progress progress {
    flex: 1;
    height: 0.8rem;
}

.task-list__progress-text {
    min-width: 3ch;
    /* evita que el layout salte */
    text-align: right;
    font-weight: 600;
}

/* ANIMACIONES BARRA DE PROGRESO */

.task-list__progress progress {
    appearance: none;
    -webkit-appearance: none;

    width: 100%;
    height: 0.8rem;
    border-radius: 10px;
    overflow: hidden;
}

/* Barra de fondo */
.task-list__progress progress::-webkit-progress-bar {
    background-color: #eee;
    border-radius: 10px;
}

/* Barra animada */
.task-list__progress progress::-webkit-progress-value {
    background-color: rgb(60, 145, 39);
    border-radius: 10px;
    transition: width 0.35s ease-in-out;
}

/* Firefox */
.task-list__progress progress::-moz-progress-bar {
    background-color: rgb(60, 145, 39);
    border-radius: 10px;
    transition: width 0.35s ease-in-out;
}


/* ANIMACIÓN CHECK BOX */

.task-item__check {
    margin-right: 12px;
    cursor: pointer;
    flex-shrink: 0;
    transform: scale(1.2);
    accent-color: rgb(60, 145, 39);
}

.task-item__text {
    color: #444;
    cursor: pointer;
    position: relative;
    transition: color 0.4s ease-in-out;
    display: inline-block;
    width: fit-content;
}

.task-item__text::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #363636;
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.4s ease-out;
}

.task-item__check:checked+.task-item__text {
    color: #707070;
}

.task-item__check:checked+.task-item__text::after {
    transform: scaleX(1);
}

/* ANIMACIONES */

@keyframes splashZoom {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.15);
    }

    100% {
        transform: scale(1);
    }
}

/* MEDIA QUERIES */

/* PANTALLAS MEDIAS: 768 → 991 */
@media screen and (min-width: 768px) and (max-width: 991px) {
    .board {
        grid-template-columns: repeat(2, 1fr);
    }

    .header__quote {
        bottom: 22px;
    }

    @keyframes splashZoom {
        0% {
            transform: scale(1);
        }

        50% {
            transform: scale(1.15);
        }

        100% {
            transform: scale(1);
        }
    }

}

/* PANTALLAS GRANDES: 992 → ∞ */
@media screen and (min-width: 992px) {
    .board {
        grid-template-columns: repeat(5, 1fr);
    }

    .header__quote {
        bottom: 10px;
    }

    @keyframes splashZoom {
        0% {
            transform: scale(1);
        }

        50% {
            transform: scale(1.15);
        }

        100% {
            transform: scale(1);
        }
    }


}